---
---

@import "{{ site.theme }}";

.project-tagline {
  margin-bottom: 0;
}

.page-header {
  background-color: #0197C2;
  background-image: none;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6, .main-content strong {
  color: #0197C2;
}
